body {
    background-image: url(./background.jpg);
    background-repeat: repeat-y;
    background-attachment: fixed;
}

.inbox {
    background-color: rgb(226, 226, 39);
    background-image:   url(./todoracademy.png),
                        url(https://i.sstatic.net/NEuip.jpg);
    background-position: center, center;
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, no-repeat;
    background-size: 350px, cover;
    max-height: 100%;
    font-size: 30px;
    color: #c9c8c8;
    margin: 10%;
    box-shadow: 0 0 50px rgb(0, 0, 0);
}

.inbox p {
    max-width: 100%;
}

.inbox p::after {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url(./logo.png);
    background-size: cover;
    position: absolute;
    box-shadow: 0 0 25px white;
}

.inbox p:hover {
    background: linear-gradient(to bottom, rgba(114, 117, 114, 0.226), rgba(128, 128, 128, 0.411));
    text-align: center;
    box-shadow: inset 0 0 12px white;
}



/* кнопка */
.download button{
    background: linear-gradient(to bottom, purple, pink);
    color:rgb(6, 15, 102);
    max-width: 300px;
    max-height: 50px;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 30vw;
    display: flex;
}

/* ///////////////////////////////////////////////////////////////////// */
/* 8 задание */
.notification button{
    margin-left: 48%;
    margin-bottom: 20vh;
    width: 50px;
    height: 50px;
    background-image: url(it.png);
    background-size: cover;
}

.notification button:hover{
    background-color: rgba(218, 165, 32, 0.397);
    background-image: none;
    content: "";
    position: relative;
    width: 150px;
    height: 150px;
}

.notification button:hover::after {
    content: "Поздравляю. Это твоё уведомление";
    
}
/* ///////////////////////////////////////////////////////////////////////// */


.button download:hover {
    transform: scale(1.3);
    transition: transform 1s ease-in;
}

.numbers {
    justify-content: space-between;
    display: flex;
}

/* Задание со спрайтами */
.num {
    width: 150px;
    height: 150px;
    background-image: url(./numbers1.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform .5s ease-in-out;
    box-shadow: 0 0 4px white;
}

.num:hover {
    transform: scale(1.2);
}

.num1 {
    background-position: -29px -26px;
}

.num2 {
    background-position: -322px -26px;
}

.num3 {
    background-position: -29px -173px;
}

.num4 {
    background-position: -175px -173px;
}

.num5 {
    background-position: -321px -174px;
}

.num6 {
    background-position: -175px -320px;
}

.num7 {
    background-position: -321px -320px;
}

.num8 {
    background-position: -28px -320px;
}

.num9 {
    background-position: -175px -28px;
}

.border-gradient {
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to right, rgb(86, 145, 255), rgb(98, 0, 255));
    border: 2px solid blue;
}


/* 9 задание */

@media (max-width: 800px) {
        body {
            background-size: 100% auto;
            background-attachment: scroll;
            font-size: 1rem;
            /* background-position: center; */
        }

        button {
            max-width: 50% auto;
        }
}