body {
    background-color: blanchedalmond;
    margin-left: 2em;
}

.Products {
    font-style: italic;
    color: rgb(6, 70, 4);
    background-color: rgb(221, 168, 52);
    margin: 2em;
    padding: 1em;
}

.img-plov {
    width: 25%;
    margin-left: 2em;
}

.plov {
    background-color: darksalmon;
    font-size: large;
    font-style: initial;
    margin: 2em;
}