.text1, .text3 {
    width: 200px;
    height: 100px;
    background-color: chocolate;
}

#text2 {
    width: 350px;
    height: 125px;
    background-color: wheat;
}

div.alltext {
    border: 2px solid black;
    max-width: 500px;
}

div.alltext::after {
    content: "After alltext div";
}

.alltext  p {
    font-size: 25px;
}

.alltext + div {
    background-color: darkcyan;
    width: 200px;
}

.alltext {
    background-color: darkgrey;
}


/* 2задание */

input#name:focus {
    width: 250px;
    height: 60px;
    background-color: aquamarine;
    font-size: 50px;
}

.label-form:hover {
    background-color: aquamarine; 
}

input[type]:active {
    background-color: rgb(153, 0, 0);
}


/* НЕ РАБОТАЕТ, НЕ МОГУ ПОНЯТЬ ПОЧЕМУ */
.label-form > label {
    margin: 35px; 
}


.input-form, .label-form {
    display: inline-block;
    margin: 15px;
}



#registred:hover {
    height: 75px;
    width: 100px;
    background-color: rgb(26, 148, 26);
    font-size: large;
    font-style: italic;
    color: yellow;
}

/* 3 задание */

nav a:link {
    color: rgb(180, 27, 160);
}

nav a:visited {
    color: rgb(0, 250, 33);
} 

.section a:hover {
    font-size: 30px;
    color: rgb(255, 0, 0);
}

/* 4 задание */

.table {
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
}

.table td {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid black;
}


.table td:nth-child(2n):hover {
    background-color: greenyellow;
}

.table td:nth-child(2n+1):hover {
    background-color: crimson;
}

/* 5 задание */
.text5 div {
    width: 700px;
    display: inline-block;
}
.h2text:hover {
    background-color: rgb(0,250,154);
    font-size: 23px;
}

.h3text:hover {
    background-color: coral;
    font-size: 27px;
    color: rgb(32, 5, 128);
    font-style:normal
    
}

.h4text:hover {
    background-color: wheat;
    font-size: 28px;
    color: green;
    
}

.h2text {
    background-color: beige;
}

.h3text {
    background-color: blanchedalmond;
    font-style: oblique;
}

.h4text {
    background-color: cornflowerblue;
    font-size: 40px;
}

.text5 a[href|="Тест"] {
    color: greenyellow;
    font-size: 50px;
} 
/* Не смог реализовать поиск текста за тегом по содержимому... 
upd сделал, но только с ссылкой, с обычным текстом не вышло*/